@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.cm-editor,
.output {
    overflow: auto;
}

.editor,
.console {
    overflow: auto;
}

.console {
    display: flex;
}

.output {
    display: block;
    margin: 1rem;
}

.cm-editor {
    height: 100%;
    padding: 1rem;
}

.cm-content,
.console {
    font-size: 0.875rem;
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

iframe {
    width: 0;
    height: 0;
    visibility: hidden;
    appearance: none;
}

/* Results styles */
.output .string {
    color: #f1fa8c;
}

.output .boolean,
.output .number,
.output .bigint {
    color: #bd93f9;
}

.output .key {
    color: #8be9fd;
}

.output .error {
    color: #FF5555;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        overflow: auto;
    }
}